h1 {
    color: darkslateblue;
    font-family: Helvetica, sans-serif;
    font-size: 36px;
    text-align: center;
    font-style: ;
    letter-spacing: 8px;
    line-height: 20px;
    text-decoration: underline overline;
    text-decoration-color: slateblue;
    text-decoration-style: solid;
}

h2 {
    color: darkslateblue;
    font-family: "Comic Sans MS", Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
}

p {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    text-align: left;
    margin: 100px 20%;
    min-width: 400px;
    max-width: 1000px
}

.img-circle {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-style: solid;
    border-width: 20px;
    border-color: salmon;
    width: 267px;
    height: 267px;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

.img-circle2 {
    position: absolute;
    top: -10rem;
    left: -10rem;
    transform: rotate(135deg);
    animation: popout 8s ease-in-out infinite;
}

ul {
    text-align: left
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes popout {
    0% {
        top: -10rem;
        left: -10rem;
    }
    10% {
        top: -1rem;
        left: -3rem;
    }
    15% {
        top: -1rem;
        left: -3rem;
    }
    25% {
        top: -10rem;
        left: -10rem;
    }
    100% {
        top: -10rem;
        left: -10rem;
    }
}

body {
    background-color: oldlace;
}

.bottomtext {
    text-align: bottom;
    text-decoration: overline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
    margin: 50px auto;
    width: 300px;
}

.finfarg {
    color: darkkhaki;
}

#halloween {
    background-color: midnightblue;
}