<div class="storewrapper">
    <article class="storeimg">
        <img src="img/goteborg.jpg" alt="Göteborg Bild">
    </article>
    <article class="storeinfo">

        <p> Göteborg
            <br>
            <br> Adress Fake Street 123
            <br> 430 04 Göteborg
            <br>
            <br> Öppet 10 - 18
        </p>
        <div id="map1"></div>

    </article>
</div>


<footer class="ft store_ft">
    <div id="ft1"></div>
    <div id="ft2">
        <a href="om.html">
            <p>Om oss</p>
        </a>
        <br>
        <p>Och så vidare</p>
    </div>
</footer>

</article>