<div class="storewrapper">
<article class="storeimg"><img src="img/goteborg.jpg" alt="Göteborg Bild"></article>
<article class="storeinfo">

<p> Göteborg <br>
    <br>
    Adress Banangatan 144 <br>
    430 04 Göteborg
</p>
</article>
</div>
<footer class="ft store_ft">
        <div id="ft1"></div>
        <div id="ft2">
            <p>Om oss</p>
            <br>
            <p>Och så vidare</p>
        </div>
    </footer>

</article>