<section id="section_one">
    <h2 class="wip" id="wip1">
        <a href="">Hallå</a>
    </h2>
</section>

<section id="section_two">
    <h2 class="wip" id="wip2">
        <a href="">Hallå</a>
    </h2>
</section>


<footer class="ft index_ft">
    <div id="ft1"></div>
    <div id="ft2">
        <p>Om oss</p>
        <br>
        <p>Och så vidare</p>
    </div>
</footer>