<div id="korvwrapper">
<article id="kielbasa">
<img src="img/kielbasa.png" alt="kielbasa">
</article>
<article id="pris">
<a href=""> <p>Nya Kielbasa <br>
En succée på mackan <br>
Endast 149:- / Kg</p>
</a>
</article>
</div>
<footer class="ft korv_ft">
        <div id="ft1"></div>
        <div id="ft2">
            <a href="om.html">
                <p>Om oss</p>
            </a>
            <br>
            <p>Och så vidare</p>
        </div>
    </footer>