<article id="om_art">
    <h2>OM SUAVESHOP</h2>
    <br>
    <p>I like to beat the brush. This is an example of what you can do with just a few things, a little imagination and a happy dream in your heart. The secret to doing anything is believing that you can do it. Anything that you believe you can do strong enough, you can do. Anything. As long as you believe. Making all those little fluffies that live in the clouds.

            Trees live in your fan brush, but you have to scare them out. Just a happy little shadow that lives in there. We can always carry this a step further. There's really no end to this. See how easy it is to create a little tree right in your world.
            
            You can do anything your heart can imagine. Very easy to work these to death. This is a happy place, little squirrels live here and play. It's important to me that you're happy. We'll play with clouds today. We'll paint one happy little tree right here.
    </p>

</article>

<footer class="ft om_ft">
        <div id="ft1"></div>
        <div id="ft2">
            <a href="om.html">
                <p>Om oss</p>
            </a>
            <br>
            <p>Och så vidare</p>
        </div>
    </footer>