<div id="productswrapper">
    <div class="filter">
        <i class="material-icons md-48 blue" id="search_icon">search</i>
        <input type="text" id="searchBar" class="textinput" name="search" onkeyup="SearchFunction()" placeholder="Sök">
    </div>

    <section class="products">
        <ul id="productsUl">
            <li>
                <img src="img/product.PNG" alt="">
                <h3>Bratwurst</h3>
            </li>
            <li>
                <img src="img/product.PNG" alt="">
                <h3>Weiner</h3>
            </li>
            <li>
                <img src="img/product.PNG" alt="">
                <h3>Chorizo</h3>
            </li>
            <li>
                <img src="img/product.PNG" alt="">
                <h3>Kielbasa</h3>
            </li>
            <li>
                <img src="img/product.PNG" alt="">
                <h3>Falukorv</h3>
            </li>
            <li>
                <img src="img/product.PNG" alt="">
                <h3>Salami</h3>
            </li>
            <li>
                <img src="img/product.PNG" alt="">
                <h3>Käsekreiner</h3>
            </li>
            <li>
                <img src="img/product.PNG" alt="">
                <h3>Frankfurter</h3>
            </li>
            <li>
                <img src="img/product.PNG" alt="">
                <h3>Salsiccia</h3>
            </li>
        </ul>
    </section>


    <footer class="ft products_ft">
        <div id="ft1"></div>
        <div id="ft2">
            <a href="om.html">
                <p>Om oss</p>
            </a>
            <br>
            <p>Och så vidare</p>
        </div>
    </footer>

</div>