/* Färger: 
Ljusgrå: #DDDDDD;
Mellangrå: #999999;
Mörkgrå: #666666;
Blekgrön: #99cc99;
Vinröd: #663333;
*/

body {
    background-color: #999999
}

.main {
    background-color: #DDDDDD;
    display: grid;
}

.mgmain {
    margin: 0 auto;
    background-color: #DDDDDD;
    display: grid;
    width: 1200px;
    Height: 850px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr repeat(8, 1fr);
    grid-template-areas: 
    "lg lg . nv nv nv nv ."       /* 1 */
    "as as . . . . . ."           /* 2 */
    "as as . a1 a1 a1 a1 ."       /* 3 */
    "as as . a1 a1 a1 a1 ."       /* 4 */
    "as as . a1 a1 a1 a1 ."       /* 5 */
    "as as . a2 a2 a2 a2 ."       /* 6 */
    "as as . a2 a2 a2 a2 ."       /* 7 */
    "as as . a2 a2 a2 a2 ."       /* 8 */
    "as as . . . . . ."           /* 9 */
    ;

}

.hgmain {
    margin: 0 auto;
    background-color: #DDDDDD;
    display: grid;
    width: 1200px;
    Height: 850px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr repeat(8, 1fr);
    grid-template-areas: 
    "lg lg . nv nv nv nv ."       /* 1 */
    "as as . . . . . ."           /* 2 */
    "as as . fl fl fl fl ."       /* 3 */
    "as as . . . . . ."           /* 4 */
    "as as . g1 g1 g1 g1 ."       /* 5 */
    "as as . g1 g1 g1 g1 ."       /* 6 */
    "as as . g2 g2 g2 g2 ."       /* 7 */
    "as as . g2 g2 g2 g2 ."       /* 8 */
    "as as . . . . . ."           /* 9 */
    ;
}

.mvmain {
    margin: 0 auto;
    background-color: #DDDDDD;
    display: grid;
    width: 1200px;
    Height: 850px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 0.5fr repeat(8, 1fr);
    grid-template-areas: 
    "lg lg . nv nv nv nv ."             /* 1 */
    "as as . tn tn tx tx ."             /* 2 */
    "as as . mvul mvul mvul mvul ."     /* 3 */
    "as as . mvul mvul mvul mvul ."     /* 4 */
    "as as . mvul mvul mvul mvul ."     /* 5 */
    "as as . mvul mvul mvul mvul ."     /* 6 */
    "as as . mvul mvul mvul mvul ."     /* 7 */
    "as as . mvul mvul mvul mvul ."     /* 8 */
    "as as . . . . . ."                 /* 9 */
    ;
}

.g1main {
    margin: 0 auto;
    background-color: #DDDDDD;
    display: grid;
    width: 1200px;
    Height: 850px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 0.5fr repeat(8, 1fr);
    grid-template-areas: 
    "lg lg . nv nv nv nv ."     /* 1 */
    "as as . . . . . ."         /* 2 */
    "as as . og1 og1 og1 og1 ." /* 3 */
    "as as . og1 og1 og1 og1 ." /* 4 */
    "as as . og1 og1 og1 og1 ." /* 5 */
    "as as . kg1 kg1 kg1 kg1 ." /* 6 */
    "as as . kg1 kg1 kg1 kg1 ." /* 7 */
    "as as . . . . . ."         /* 8 */
    "as as . . . . . ."         /* 9 */
    ;
}

.g2main {  
    margin: 0 auto;
    background-color: #DDDDDD;
    display: grid;
    width: 1200px;
    Height: 800px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 0.5fr repeat(8, 1fr);
    grid-template-areas: 
    "lg lg . nv nv nv nv ."     /* 1 */
    "as as . . . . . ."         /* 2 */
    "as as . og2 og2 og2 og2 ." /* 3 */
    "as as . og2 og2 og2 og2 ." /* 4 */
    "as as . og2 og2 og2 og2 ." /* 5 */
    "as as . kg2 kg2 kg2 kg2 ." /* 6 */
    "as as . kg2 kg2 kg2 kg2 ." /* 7 */
    "as as . . . . . ."         /* 8 */
    "as as . . . . . ."         /* 9 */
    ;
}

.nv {
    display: grid;
    grid-area: nv;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "n1 n2 n3";
}

#n1 {
    grid-area: n1;
    transition: 0.2s linear;
}

#n2 {
    grid-area: n2;
    transition: 0.2s linear;
}

#n3 {
    grid-area: n3;
    transition: 0.2s linear;
}

article {
    background-color: #DDDDDD;
    border: 2px;
    border-radius: 20px;
    border-style: solid;
    border-color: #999999;
    margin-top: 20px;
    position: relative;
}

#a1 {
    grid-area: a1;
    padding: 5%;
}

#a2 {
    grid-area: a2;
    padding: 5%;
}

#a1d1 {
    position: absolute;
    bottom: 2%;
    right: 2%;
}

#a2d1 {
    position: absolute;
    bottom: 2%;
    right: 2%;
}


.merinfo {
    height: 30px;
    width: 80px;
    border-radius: 10px;
    background-color: #99cc99;
    color: #666666;
    text-align: center;
    background-color: #99cc99;
}

.merinfo:hover {
    background-color: #999999;
}

p {
    color: #666666;
    font-family: 'Comfortaa', cursive;
    font-size: 0.875em;

}

h2 {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    font-size: 1.5em;
}

h4 {
    font-family: 'Comfortaa', cursive;
    font-size: 0.875em;
    position: absolute;
    top: -40%;
    left: 10%;
}

h5 {
    font-family: 'Comfortaa', cursive;
    font-size: 0.875em;
    margin-top: 5px;
}

h4:hover {
    text-decoration: underline;
}

h3 {
    font-family: 'Comfortaa', cursive;
    font-size: 0.875em;
}

.active {
    background-color: #DDDDDD;
    border-top: 2px;
    border-bottom: 0px;
    border-left: 2px;
    border-right: 2px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-style: solid;
    border-color: #666666;
    color: #663333;
}

/* Sökfunktion - Lista - Mina Vänner */

.textinput{
    border: 2px;
    border-radius: 20px;
    border-style: solid;
    border-color: #999999;
    width: 100%;
    height: 60%;
    font-family: 'Comfortaa', cursive;
    padding-left: 3%;
    height: 25px;
}

#mvul {
    height: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    grid-area: mvul;
}

#mvul li{
    height: 150px;
    background-color: #DDDDDD;
    border: 2px;
    border-radius: 20px;
    border-style: solid;
    border-color: #999999;
    margin-top: 10px;
    background-color: #DDDDDD;
    text-decoration: none;
    display: block;
    padding-left: 5%;
}

#mvul li:hover {
    background-color: #999999;
}


.profileimg {
    max-width:100%;
    max-height: 80%;
    width: 100px;
    border: 2px;
    border-radius: 20px;
    border-style: solid;
    border-color: #999999;
    position: relative;
}

#pertan {
    background-color: #DDDDDD;
    
}

#gw{
    background-color: #DDDDDD;
}

#berra{
    background-color: #DDDDDD;
}

/* Slut */

.form {
    grid-area: tx;
}

.active:hover {
    text-decoration: underline;
}

.inactive {
    background-color: #999999;
    border: 2px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-style: solid;
    border-color: #666666;
    color: #666666;
}

.inactive:hover {
    background-color: #DDDDDD;
    color: #663333;
    text-decoration: underline;
}

.filter{
    border: 2px;
    border-radius: 20px;
    border-style: solid;
    border-color: #999999;
    padding: 1%;
    grid-area: fl;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    ". tx tx ."
    "o1 o1 o2 o2"
    ;
}

.sokresult {
    background-color: #DDDDDD;
    border: 2px;
    border-radius: 20px;
    border-style: solid;
    border-color: #999999;
    padding: 5%;
    min-height: 30px;
}

#gym1 {
    grid-area: g1;
    position: relative;
}

#merinfogym1{
    position: absolute;
    bottom: 2%;
    right: 2%;
}

#gym2 {
    position: relative;
    grid-area: g2;
}

#merinfogym2{
    position: absolute;
    bottom: 2%;
    right: 2%;
}

.options{
    border: 2px;
    border-radius: 20px;
    border-style: solid;
    border-color: #999999;
    margin-left: 2%;
    margin-right: 2%;
    height: 60%;
    font-family: 'Comfortaa', cursive;
    
}

.options:after{
    border: 2px;
    border-radius: 20px;
    border-style: solid;
    border-color: #999999;

}

.gymbild {
    max-width: 80%;
    height: 60%;
}

#options1 {
    grid-area: o1;
}

#options2 {
    grid-area: o2;
}

#options2menu {
    border-left: 2px;
    border-right: 2px;
    border-bottom: 2px;
    border-top: 0px;
    border-radius: 20px;
    border-style: solid;
    border-color: #999999;
    width: 30%;
    height: 200px;
    position: fixed;
    display: none;
}

.kontakt {
    border: 2px;
    border-radius: 20px;
    border-style: solid;
    border-color: #999999;
    margin-top: 2%;
    padding: 2%;
}

.om {
    border: 2px;
    border-radius: 20px;
    border-style: solid;
    border-color: #999999;
    margin-top: 2%;
}

#omgym1 {
    grid-area: og1;
    padding-left: 5%;
}

#omgym2 {
    grid-area: og2;
    padding-left: 5%;
}

#kontaktgym1 {
    grid-area: kg1;
}

#kontaktgym2 {
    grid-area: kg2;
}

.gymbild{
    max-width:100%;
    max-height: 70%;
    border: 2px;
    border-radius: 20px;
    border-style: solid;
    border-color: #999999;
}

h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 2em;
    color: #663333;
}



#aside {
    border: 2px;
    border-style: solid;
    border-color: #666666;
    grid-area: as;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr 0.5fr 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "at"    /*1*/
    "rg"    /*2*/    
    "li"    /*3*/
    "."     /*4*/
    "."     /*5*/
    "."     /*6*/
    "."     /*7*/
    "."     /*8*/
    "."     /*9*/
   ;
}

#asidetitel {
    grid-area: at;
}

#logga {
    grid-area: lg;
    display: Grid;
    padding-left: 5%;
}

#loggain {
    height: 35px;
    width: 60%;
    border-radius: 10px;
    background-color: #99cc99;
    color: #666666;
    text-align: center;
    grid-area: li;
    margin: 0 auto;
}

#loggain:hover {
    text-decoration: underline;
}

#registrera {
    height: 35px;
    width: 60%;
    border-radius: 10px;
    background-color: #99cc99;
    color: #DDDDDD;
    text-align: center;
    background-color: #663333;
    grid-area: rg;
    margin: 0 auto;
}

#registrera:hover {
    text-decoration: underline;
}
/*
#asideknapp {
    width: 100%;
    border-style: solid;
    border-top: 2px;
    border-bottom: 2px;
    border-color: #999999;
    text-align: center;
    grid-area: ak;
}
*/
.red {
    color:#663333;
}

.lightgray {
    color: #DDDDDD;
}

.darkgray {
    color: #666666;
}

.minavannertopnavosv {
    display: flex;
    grid-area: tn;
    flex-direction: row;
    align-items: center;
    justify-content: left;

}

.knapp {
    height: 30px;
    width: 80px;
    margin: 0px;
    border-radius: 10px;
    background-color: #666666;
    text-align: center;
    margin-bottom: 35px;
    margin-right: 13%;
}

#knapp1 {
   color: #DDDDDD;
}

#knapp2 {
    color: #DDDDDD;
}

#mvsok {
    max-width: 90%;
    margin-top: 5%;
}

@media all and (max-width: 800px) {
    .main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(11, 1fr);
    }


    /* Mina Gym - main */    
    .mgmain {
        width: 100%;
        Height: 600px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(11, 1fr);
        grid-template-areas: 
        "nv nv nv nv nv nv"     /* 1 */
        ". . . . . ."           /* 2 */
        ". a1 a1 a1 a1 ."       /* 3 */
        ". a1 a1 a1 a1 ."       /* 4 */
        ". a1 a1 a1 a1 ."       /* 5 */
        ". a1 a1 a1 a1 ."       /* 6 */
        ". a2 a2 a2 a2 ."       /* 7 */
        ". a2 a2 a2 a2 ."       /* 8 */
        ". a2 a2 a2 a2 ."       /* 9 */
        ". a2 a2 a2 a2 ."       /* 10 */
        ". . . . . ."           /* 11 */
        ;

    }
    /* Mina vänner - main */ 
    .mvmain {
        width: 100%;
        Height: 819px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(15, 1fr);
        grid-template-areas: 
        "nv nv nv nv nv nv"               /* 1 */
        ". tx tx tx tx ."                     /* 2 */
        ". mvul mvul mvul mvul ."         /* 3 */
        ". mvul mvul mvul mvul ."         /* 4 */
        ". mvul mvul mvul mvul ."         /* 5 */
        ". mvul mvul mvul mvul ."         /* 6 */
        ". mvul mvul mvul mvul ."         /* 7 */
        ". mvul mvul mvul mvul ."         /* 8 */
        ". mvul mvul mvul mvul ."         /* 9 */
        ". mvul mvul mvul mvul ."         /* 10 */
        ". mvul mvul mvul mvul ."         /* 11 */
        ". mvul mvul mvul mvul ."         /* 12 */
        ". mvul mvul mvul mvul ."         /* 13 */
        ". mvul mvul mvul mvul ."         /* 14 */
        ". mvul mvul mvul mvul ."         /* 15 */
        ;
    }
    /* Hitta gym - main */
    .hgmain{
        width: 100%;
        Height: 600px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(11, 1fr);
        grid-template-areas: 
        "nv nv nv nv nv nv"     /* 1 */
        ". . . . . ."           /* 2 */
        "fl fl fl fl fl fl"     /* 3 */
        "fl fl fl fl fl fl"     /* 4 */
        ". g1 g1 g1 g1 ."       /* 5 */
        ". g1 g1 g1 g1 ."       /* 6 */
        ". g2 g2 g2 g2 ."       /* 7 */
        ". g2 g2 g2 g2 ."       /* 8 */
        ". . . . . ."           /* 9 */
        ". . . . . ."           /* 10 */
        ". . . . . ."           /* 11 */
        ;
    }

    /* Gym 1 - main*/

    .g1main {
            display: grid;
            width: 100%;
            Height: 600px;
            grid-template-columns: 1fr 4fr 1fr;
            grid-template-rows: 1fr repeat(5, 2fr);
            grid-template-areas: 
            "nv nv nv"          /* 1 */
            "og1 og1 og1"       /* 2 */
            "og1 og1 og1"       /* 3 */
            "og1 og1 og1"       /* 4 */
            "kg1 kg1 kg1"       /* 5 */
            "kg1 kg1 kg1"       /* 6 */
            ;
    
    }

    /* Gym 2 - main */

    .g2main {
        display: grid;
        width: 100%;
        Height: 600px;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: 1fr repeat(5, 2fr);
        grid-template-areas: 
        "nv nv nv"          /* 1 */
        "og2 og2 og2"       /* 2 */
        "og2 og2 og2"       /* 3 */
        "og2 og2 og2"       /* 4 */
        "kg2 kg2 kg2"       /* 5 */
        "kg2 kg2 kg2"       /* 6 */
        ;

}
    
    body {
        background-color: #DDDDDD;
    }

    #aside {
        display: none;
    }

    #logga {
        display: none;
    }

    .desktop {
        display: none;
    }


}
