#section_one {
    background: url(../img/clouds1.jpg);
    background-position: top;
    width: 100%;
    height: 100vh;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: absolute;
    position: absolute;
    left: 0px;
    top: 0px;
}

#section_two {
    background: url(../img/mountain1.jpg);
    background-position: top;
    width: 100%;
    height: 100vh;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: absolute;
    position: absolute;
    margin: 0px;
    left: 0px;
    top: 100vh;
}


p {
    font-size: 24px;
    color: #333399;
    font-weight: 300;
    
}

ul {
    list-style-type: none;

}

h1 {
    font-weight: 800;
    font-size: 26px;
    color: #333399;
    letter-spacing: 3px;
}

.knapp, .logo {
    text-align: center;
    width: 7vw;
    min-width: 120px;
    display: block;
    height: 100%;
}

.logo {
    padding-left: 2vw;
    padding-right: 2vw;
}

body{
    font-family: 'Barlow Condensed', sans-serif;
    width: 100vw;

}
nav {
    line-height: 15px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    max-width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    flex-direction: row;
    z-index: 10;
    border: 0px;
    border-bottom: 1px;
    border-color: #333399;
    border-style: solid;
   
}

.popdown {
    background-color: white;
    width: 100vw;
    height: 300px;
    position: absolute;
    top: 60px;
    left: 0px;
    border: 0px;
    border-bottom: 1px;
    border-color: #333399;
    border-style: solid;
}

.wip {
    position: absolute;
    font-size: 100px;
    color: #333399;
}

h2 {
    text-decoration: none;
}

a:visited {
   color: #333399; 
}

h2 > a:before {
    content: "";
    background-color: #333399;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

h2 > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#wip1 {
    top: 30%;
    left: 30%;
}

#wip2 {
    top: 10%;
    left: 20%;
}