#section_one {
    background: url(../img/clouds1.jpg);
    background-position: top;
    width: 100vw;
    height: 100vh;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: absolute;
    position: absolute;
    left: 0px;
    top: 0px;
}

p {
    font-size: 24px;
    color: darkblue;
    font-weight: 300;
    
}

ul {
    list-style-type: none;

}

h1 {
    font-weight: 800;
    font-size: 26px;
    color: darkblue;
    letter-spacing: 3px;
}

.knapp, .logo {
    text-align: center;
    width: 7vw;
    min-width: 120px;
    display: block;
    height: 100%;
}

.logo {
    padding-left: 2vw;
    padding-right: 2vw;
}

body{
    font-family: 'Barlow Condensed', sans-serif;
}
nav {
    line-height: 15px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 60px;
    background-color: white;
    display: flex;
    flex-direction: row;
    z-index: 10;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-areas: ". om kt .";
    border: 0px;
    border-bottom: 1px;
    border-color: darkblue;
    border-style: solid;
   
}

.popdown {
    background-color: white;
    width: 100vw;
    height: 300px;
    position: absolute;
    top: 60px;
    left: 0px;
    border: 0px;
    border-bottom: 1px;
    border-color: darkblue;
    border-style: solid;
}

.wip {
    position: fixed;
    top: 30%;
    left: 30%;
    font-size: 100px;
    color: darkblue;
}