main {
    margin: 0px;
    position: absolute;
    left: 0px;
    width: 100%;
}

#productswrapper {
    flex-direction: column;
    margin: 0px;
    position: absolute;
    left: 0px;
    width: 100%;
}

#section_one {
    background: url(../img/clouds1.jpg);
    background-position: top;
    width: 100%;
    height: 100vh;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: absolute;
    margin: 0px;
    top: 0px;
    position: absolute;
}

#section_two {
    background: url(../img/mountain1.jpg);
    background-position: top;
    width: 100%;
    height: 100vh;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: absolute;
    margin: 0px;
    top: 100vh;
    position: absolute;
}

.ft {
    width: 100%;
    height: 300px;
    background-color: white;
    margin: 0px;
    text-align: center;
    position: absolute;
    left: 0px;
}

.index_ft {
    top: 200vh;
}

.products_ft {
    top: 280vh;
}

.store_ft {
    top: 130vh;

}

#ft1 {
    width: 100%;
    height: 70px;
    position: relative;
    top: 0px;
    left: 0px;
    background-color: lightgray;
}

p {
    font-size: 24px;
    color: #333399;
    font-weight: 300;
}

ul {
    list-style-type: none;
}

h1 {
    font-weight: 800;
    font-size: 26px;
    color: #333399;
    letter-spacing: 3px;
}

.knapp, .logo {
    text-align: center;
    width: 7vw;
    min-width: 120px;
    display: block;
    height: 100%;
}

.logo {
    padding-left: 2vw;
    padding-right: 2vw;
}

body {
    font-family: 'Barlow Condensed', sans-serif;
    width: 100vw;
}

nav {
    line-height: 15px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    max-width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    flex-direction: row;
    z-index: 10;
    border: 0px;
    border-bottom: 1px;
    border-color: #333399;
    border-style: solid;
}

.popdown {
    background-color: white;
    width: 100vw;
    height: 300px;
    position: absolute;
    top: 60px;
    left: 0px;
    border: 0px;
    border-bottom: 1px;
    border-color: #333399;
    border-style: solid;
}

a {
    text-decoration: none;
}

.wip {
    width: 185px;
    position: relative;
    font-size: 100px;
    color: #333399;
    transition: border 1s;
}

#section_one:hover #wip1, #section_two:hover #wip2{
    transition: 1s;
    border: 0px;
    border-bottom: 5px #333399;
    border-style: solid;
}    
h2 {
    text-decoration: none;
}

a:visited {
    color: #333399;
}

#wip1 {
    top: 30%;
    left: 30%;
}

#wip2 {
    top: 10%;
    left: 20%;
}

#hamburger, #cart {
    height: 100%;
    font-size: 42px;
    padding: 12px;
    color: #333399;
}

#hamburger {
    width: 60px;
}

#cart {
    width: 48px;
}

.material-icons.md-48.blue {
    font-size: 36px;
    color: #333399;
}

.filter {
    width: 100%;
    height: 60px;
    margin: 0px;
    position: fixed;
    top: 60px;
    left: 0px;
    border: 0px;
    border-bottom: 1px;
    border-color: #333399;
    border-style: solid;
    background-color: white;
}

.products {
    width: 60vw;
    margin: 0px auto;
    margin-top: 130px;
}

.products ul {
    padding: 0px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.products ul li {
    display: block;
    width: 20vw;
    height: 90vh;
}

.products ul li img {
    height: 80%;
}

.storeimg{
    height: 40vh;
    max-width: 100%;
}

.storeimg img{
    height: 30vh;
}

#farg{
    padding: 0px;
    width: 200px;
    flex-direction: row;
}

/* #region snodd kod */

/* Snodd kod nedan */

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    outline: 0;
}

.hamburger:hover {
    opacity: 0.7;
}

.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #333399;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
}

/*
     * Collapse
     */

.hamburger--collapse .hamburger-inner {
    top: auto;
    bottom: 0;
    transition-duration: 0.13s;
    transition-delay: 0.13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
    transition-delay: 0.22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* Snodd kod klar*/

/* #endregion */ 


@media all and (min-width: 600px) {
    #burgarmeny {
        display: none;
    }
    .hamburger {
        display: none;
    }
    #cart {
        position: absolute;
        top: 0px;
        right: 0px;
    }
}

@media all and (max-width: 600px) {
    #section_one {
        background: url(../img/clouds-mobile.jpg);
        height: 100vh;
        background-size: 100vw;
    }
    #section_two {
        background: url(../img/mountain-mobile.jpg);
        height: 100vh;
        background-size: 100vw;
    }
    .knapp {
        display: none;
    }
    nav {
        justify-content: space-between;
    }
    #aside {
        height: 100vh;
        width: 400px;
        max-width: 80vw;
        background-color: white;
        position: fixed;
        top: 60px;
        left: 0px;
        border: 0px;
        border-right: 1px;
        border-color: #333399;
        border-style: solid;
        flex-direction: column;
    }

    #aside div{
        width: 100%;
        text-align: center;
        height: 50px;
        z-index: 100;
        padding: 10px;
    }

    .products {
        width: 100vw;
    }
    .products ul {
        justify-content: center;
        width: 100vw;
    }
    .products ul li {
        width: 100vw;
        justify-content: center;
        text-align: center;
        margin: 0px;
    }
    .products ul li {
        display: block;
    }
    #products_ft {
        top: 840vh;
    }
}